<h1>lftp</h1>
<p>The guide will show you how to use lftp to connect to your slot here at Feral via FTP/SFTP. It shouldn't require any expertise to use, but it might be helpful to read the <a href="../ftp">general FTP/SFTP guide</a> first or if you encounter a more general problem.</p>
<p>lftp should be usable on Windows, macOS and Linux.</p>

<details id="toc" open>
    <summary>Table of contents</summary>
    <nav>
        <ol>
            <li><a href="#getting-lftp">Getting lftp</a>
                <ul>
                    <li><a href="#windows">Windows</a></li>
                    <li><a href="#mac">macOS</a></li>
                    <li><a href="#linux">Linux</a></li>
                </ul>
            </li>
            <li><a href="#usage">Usage</a>
                <ul>
                    <li><a href="#transfer">Running a transfer</a></li>
                </ul>
            </li>
            <li><a href="#troubleshooting">Troubleshooting</a></li>
            <li><a href="#external-links">External links</a></li>
        </ol>
    </nav>
</details>

<h2 id="getting-lftp">Getting lftp</h2>
<p>First of all you'll need to download and install lftp and the means and method to do so depend on your operating system.

<h3 id="windows">Windows</h3>
<p>There is a <a href="https://nwgat.ninja/lftp-for-windows/">version of lftp for Windows</a> which you can download and extract to a folder on your system. You should then open a PowerShell or command prompt at the <samp>bin</samp> folder, by holding down <kbd>shift</kbd> and <kbd>right-clicking</kbd>. You'll see an option in the context menu to open a PowerShell or command prompt - if you have the Windows 10 Creators Update then it'll be PowerShell, otherwise command prompt.</p>
<p>If you've opened a PowerShell at the <samp>bin</samp> folder, run <kbd>./lftp.exe</kbd> to launch the program. If it's a command prompt you'll need to use <kbd>lftp.exe</kbd>.</p>
<p>It's also possible to install lftp with Cygwin.</p>

<h3 id="mac">macOS</h3>
<p>Firstly, you'll need to <a href="../homebrew">install Homebrew</a> using the linked-to guide. Once that's done, simply copy and paste the following to install lftp:</p>
<p><kbd>brew install lftp</kbd></p>

<h3 id="linux">Linux</h3>
<p>lftp should be available in your OS's package manager:</p>
<p><kbd>sudo apt-get install lftp</kbd> should install it on Ubuntu/Debian</p>
<p><kbd>sudo yum install lftp</kbd> should install it on CentOS/Fedora/RHEL</p>
<p><kbd>sudo pacman -S lftp</kbd> should install it on Arch Linux</p>

<p>You'll need the following information to connect:</p>
<ul>
    <li>Server/hostname</li>
    <li>Username</li>
    <li>Password</li>
</ul>
<p>You can find each of these by clicking on the <samp>Software</samp> link of your <a href="/wiki/getting-started/web-manager">Feral web manager</a>.</p>

<h2 id="usage">Usage</h2>
<p>To connect to your slot, replace <var>server</var> with the server given on your slot Software page, <var>username</var> with your FTP username and <var>password</var> with your FTP password before running the command below:</p>
<p><kbd>lftp -u <var>username</var>,<var>password</var> sftp://<var>server</var></kbd></p>
<p>So, for example, it might be:</p>
<p><kbd>lftp -u user,password sftp://agrius.feralhosting.com</kbd></p>
<p>At the next lftp prompt, you can also run the following two commands:</p>
<pre><kbd>set sftp:auto-confirm yes
set mirror:use-pget-n 1</kbd></pre>
<p>These commands will auto-confirm to accept the Feral server's certificate and set the mirror command to download in a single segment. Increasing this can boost speeds if you're seeing slower-than-expected transfer rates; please be careful not to overload shared disks and increase conservatively (ideally one at a time).</p>
<p>Once successfully connected, you can run the following to save your connection and password for future use:</p>
<pre><kbd>set bmk:save-passwords true
bookmark add Feral</kbd></pre>

<h3 id="transfer">Running a transfer</h3>
<p>This section assumes all of the commands from above have been run. To do a transfer from your slot to home, use the following as a guide:</p>
<p><kbd>mirror -c -P5<var>feral_dir</var> <var>local_dir</var></kbd></p>
<p>In the above command, <var>feral_dir</var> is replaced by the directory you wish to download and <var>local_dir</var> is the place you wish to put it on your slot. Note that <samp>mirror</samp> only works with directories.</p>

<h2 id="troubleshooting">Troubleshooting</h2>
<p><span>I still get host key verification issues when trying to connect</span></p>
<p>You have (at least) a couple of options here:</p>
<ol>
    <li>You can connect to the slot via SSH from the same machine to be able to verify the certificate</li>
    <li>You can run the option <kbd>set ssl:verify-certificate no</kbd> in lftp</li>
</ol>

<h2 id="external-links">External links</h2>
<ul>
    <li><a href="https://lftp.yar.ru/get.html">lftp latest stable source code</a></li>
    <li><a href="https://lftp.yar.ru/lftp-man.html">Documentation</a></li>
    <li><a href="https://nwgat.ninja/lftp-for-windows/">LFTP for Windows</a></li>
</ul>
