<h1>Privacy Policy</h1>
<p>Feral is entrusted with a lot of personal data and as such, privacy is important to both us and our customers.</p>
<p>Any information that may identify a person directly or indirectly is considered personal data. Our privacy policy is meant to help you understand what information we collect, why it's collected, and your rights regarding the data.</p>
<p>We only hold personal data on our customers. If you take steps to be partially or fully anonymous the data we hold is still considered personal data and this document is still relevant. This means that if you take steps to limit the personal data provided to us, you will still receive full legal protection.</p>

<h2>Information We Collect</h2>
<p>We collect data to provide services which is linked under your account.</p>
<ul>
    <li>Things you create or provide us. You may provide us personal information such as e-mail addresses or payment information. Even if you don't have an account with us you might provide us with this information such as subscribing for service updates.</li>
    <li>Things others provide us about you. We may be provided personal information from other people. For example we might be forwarded an e-mail that includes your e-mail address.</li>
    <li>Information we collect from your activity. We collect information on how you use our services, examples of such activity may include: disk and bandwidth usage, interacting with our website such as opening a support ticket, and source / destination of your network traffic.</li>
</ul>

<h2>Why We Collect Data</h2>
<p>We use the information collected for the following purposes / activities:</p>
<ul>
    <li>Communication. We will use the information to communicate with you, usually via e-mail. Examples may include disk usage warnings, support ticket replies and new features to our service.</li>
    <li>Provide our services. For example we allow you to run software on our servers that access data stored on our hardware.</li>
    <li>Maintain and improve our services. We use your information to ensure our services work as intended. This might include troubleshooting crashes or investigating information provided in a support ticket.</li>
    <li>Developing new services. We use collected information to identify needs or approaches to new services. For example we might choose to expand our VPN to workaround problem ISPs.</li>
    <li>Protecting Feral, customers and the public. We use information to detect, prevent and actively respond to ensure our services are used appropriately. This may include preventing spam, abuse, security, and technical issues.</li>
</ul>

<h2>Sharing Your Information</h2>
<h3>When You Share Your Information</h3>
<p>As part of our services you may share information publicly such as setting up a website hosted on our servers. This is something done of your own accord and under your control.</p>

<h3>When We Share Your Information</h3>
<p>We do not share information with third-parties except in the following circumstances:</p>
<ul>
    <li>With your consent. You might ask us to talk to your ISP regarding a performance issue and need to share your IP or traceroute with them.</li>
    <li>To process payments. We will exchange information with payment processors necessary to handle the payment.</li>
    <li>To send e-mail. Sending and receiving e-mail can be tricky so we rely on third-parties deliver it for us.</li>
</ul>
<p>Our third-parties may move data outside of the EU but have similar provisions for protecting data.</p>

<h2>Keeping Your Information Secure</h2>
<p>We aim to keep your data as secure as possible. All data is secured by at least one of:</p>
<ul>
    <li>Encryption: data kept offline or used only occasionally will be encrypted.</li>
    <li>On-site security: online data (e.g., our database and slot data) will be protected by a high standard of data centre security. An example of this is our main data centre which includes: 24/7 security staff, access cards, fingerprint scanners, mantraps, physical perimeters and cages.</li>
</ul>

<h2>Contact Information</h2>
<p>This document is intended to be readable by our customers first and foremost therefore we have tried to keep it to plain English. We are more than happy to answer any questions or queries you may have.</p>
<p>If you are a customer, please <a href="/tickets/new">open a support ticket</a>. Otherwise, please send us an e-mail <a href="mailto:privacy-policy@feralhosting.com">privacy-policy@feralhosting.com</a>.</p>